html{
    font-family: Gill Sans Extrabold, cursive;
}
body{
    background: antiquewhite;
    display: flex; // FlexBox
    align-items: center;
    justify-content: center;
}
.form-wrap {
    width: 550px;
    background: lightsalmon;
    border-radius: 20px;
    position: fixed;
    display: block;
    max-width: 100%;
    height: auto;

}
.form-wrap *{transition: .1s linear}

.form-wrap input{
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    color:#7b7b7b;
}
.form-wrap select{
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
}

form {
    float: left;
    width: 100%;
    padding: 30px;
    border-radius: 0 20px 20px 0;
    color: #7b7b7b;
}
.form-wrap:after, form div:after {
    content: "";
    display: flex;
    margin: auto;
    clear: both;
}
form div {
    margin-bottom: 15px;
    position: relative;
}

.error{
    border: 2px solid red;
}
.OK{
    border: 2px solid green;
}


.peach{
    font-family: Gill Sans Extrabold, cursive;
    font-size: 20px;
    color: #7b7b7b;
}
